/* Style for the forgot password page */
.forgot-password {
  background-image: url('../assets/loginbg.png');
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7f7; /* Light background for consistency */
}

.forgot-password-card {
  background:transparent;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px #688eb6;
  text-align: center;
  width: 700px;
  margin-right: 500px;
}

h2 {
  margin-bottom: 40px;
}

input {
  margin-bottom: 15px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
  font-size: 23px;
}

button {
  width: 100%;
  height: 40px;
  border: 2px solid #688eb6;
  background-color:#688eb6;
  color : black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #688eb6;
}

.warning-message {
  color: #e68a00; /* Orange warning color */
  font-size: 14px;
  margin-top: 10px;
}

.success-message {
  color: #28a745; /* Green success color */
  font-size: 14px;
  margin-top: 10px;
}

.link {
  margin-top: 20px;
  font-size: 14px;
}

