.sidebar {
  background-image: url('../assets/sidebar2.png'); /* Adjust the path if necessary */
  background-size: cover;         /* Ensure the image covers the whole sidebar */
  background-position: center;    /* Center the background image */
  background-repeat: no-repeat;   /* Ensure the image doesn't repeat */
  
  min-height: 100vh;              /* Full height of the viewport */
  width: 320px;                   /* Sidebar width */
  
  position: fixed;                /* Keep it fixed to the side */
  top: 0;                         /* Align to the top */
  left: 0;                        /* Align to the left */
  
  padding: 0;                     /* No internal padding */
  margin: 0;                      /* No external margin */
  
  background-color: #C5E1ECff;         /* Set a background color (optional, depending on your design) */


  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: sans-serif;
  }

  &__menu {
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 3rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: #555555;
      transition: color 0.3s ease-in-out;

      &.active {
        color: #fff;
      }

      &__icon {
        margin-right: 1rem;

        i {
          font-size: 1.75rem;
        }
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 40px);
      border-radius: 10px;
      background-color: #308efe;
      z-index: -1;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }
  }
}