.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 320px;
  background-color: #fff;

  &__logo {
    display: grid;
    place-items: center;
    height: 120px;
    font-size: 1.5rem;
    font-weight: 1000;
    font-family: sans-serif;
  }
  

  &__user-info {
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #9fc3d0;
    background-color: #9fc3d0;
  }

  &__user-info__image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  &__user-info__details {
    flex-grow: 1;
  }

  &__user-info__name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
  }

  &__user-info__email {
    font-size: 0.9rem;
    color: #777;
  }
  &__menu {
    position: relative;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 1rem 3rem;
      font-size: 1.25rem;
      font-weight: 500;
      color: #555555;
      transition: color 0.3s ease-in-out;

      &.active {
        color: #fff;
      }

      &__icon {
        margin-right: 1rem;

        i {
          font-size: 1.75rem;
        }
      }
    }

    &__indicator {
      position: absolute;
      top: 0;
      left: 50%;
      width: calc(100% - 40px);
      border-radius: 10px;
      background-color: #308efe;
      z-index: -1;
      transform: translateX(-50%);
      transition: 0.3s ease-in-out;
    }
  }
}